SESSION_SECRET="O2NgyjFfQMEJGa2+TRYOihLngntSBz+0GgVxSZJRd7gyUm9WRWMXTj/6DHuDLEOhOyIp2KH+2jUU4ZYRDotxyQ=="
DATABASE_URL="postgresql://neondb_owner:npg_DaIeGT78SUPv@ep-sparkling-base-adqu7z5m.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require"
PGDATABASE="neondb"
PGHOST="ep-sparkling-base-adqu7z5m.c-2.us-east-1.aws.neon.tech"
PGPORT="5432"
PGUSER="neondb_owner"
PGPASSWORD="npg_DaIeGT78SUPv"
RESEND_API_KEY="re_8fhTbeoU_9DFLFxMij3ww84bZupRDniig"
WASABI_ACCESS_KEY="CSL1905TV66PTENAHJRM"
WASABI_BUCKET="talent"
WASABI_REGION="us-east-1"
WASABI_SECRET_KEY="X2mi8fd1mAJGam1k0ezilsPQXvw3RjfasFleynqK"
STRIPE_SECRET_KEY="sk_test_51NwxezAhOiHhM1yQiWNB6v8fBpIISkpvkJ1h0wyFKQ6nOinMJWzmSmZcZDOaZYPnWfYpT3oaHw9mmLyh2MV0YlRF002KUEmfWr"
VITE_STRIPE_PUBLIC_KEY="pk_test_51NwxezAhOiHhM1yQX94ydY61tL8LaN6K1HeVYkAzhAaV36YpuWt9pdJ1XCYLjoxOWn4fsNzENnfeFzC0lFoB7Z3100t4ZBV3JL"
OPENAI_API_KEY=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